@charset "utf-8";
/*
YUI 3.7.3 (build 5687)
Copyright 2012 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
http://yuilibrary.com/license/
*/
html {
	color: #000;
	background: #FFF
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
fieldset, img {
	border: 0
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal
}
ol, ul {
	list-style: none
}
caption, th {
	text-align: left
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal
}
q:before, q:after {
	content: ''
}
abbr, acronym {
	border: 0;
	font-variant: normal
}
sup {
	vertical-align: text-top
}
sub {
	vertical-align: text-bottom
}
input, textarea, select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit
}
input, textarea, select {
*font-size:100%
}
legend {
	color: #000
}
#yui3-css-stamp.cssreset {
	display: none
}
/*END RESET*/

html, body {
	background-color: #000;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
	font-weight: normal;
	color: #FFF;
	text-decoration: none;
}
#wrapper {
	min-height: 100%;
	clear: both;
	overflow: hidden;
}
#curtain {
	z-index: 9000;
	display: block;
	position: absolute;
	background-color: #06C;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
#shopzone, #mainCartContents {
	margin: 0 auto;
	padding: 0 8px;
	position: relative;
	text-align: left;
	width: 980px;
	background-color: #999;
	min-height: 700px;
}
#footer {
	position: absolute;
	height: 98px;
	width: 100%;
	color: #FFF;
	text-decoration: none;
	background-image: url(../images/bg_footer.jpg);
	background-repeat: repeat-x;
}
#innerfooter {
	height: 98px;
	margin: 0px auto;
	width: 980px;
	position: relative;
}
#innerfooter .counter {
	display: block;
	position: relative;
	width: auto;
	float: right;	
}
#mini-cart {
	display: block;
	float: right;
	background-color:#000;	
}
.zonetitle {
	display: block;
	font-size: 20px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	width: 180px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 12px;
	margin-left: auto;
}
.title {
	display: block;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	width: 460px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
}
.view-cart, .empty-cart, .cart-page {
	cursor: pointer;
	color: #36F;
	text-decoration: none;
}
ul.items {
}
li.info {
	display: block;
	float: left;
	margin-bottom: 20px;
}
div.prodimg {
	display: block;
	position: relative;
	float: left;
	width: 124px;
	min-height: 182px;
}
div.product {
	display: block;
	position: relative;
	margin-left: 16px;
	float: left;
	width: 720px;
	min-height: 182px;
}
.prodtitle, .prodtext {
	float: left;
	clear: both;
}
.prodtitle {
	font-weight: bold;
	margin-bottom: 10px;
}
.addtocart {
	display: block;
	position: absolute;
	float: left;
	clear: both;
	bottom: 0px;
	cursor: pointer;
}
#cart {
	display: none;
	height: 300px;
	width: 480px;
	z-index: 10000;
	padding: 10px;
	position: absolute;
	background-color: #FFF;
	color: #000;
}
table.cartContents {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
}
	table.cartContents tr {
		width: 400px;
		height: 36px;
	}
	table.cartContents td {
		padding-right: 12px;
		padding-left: 12px;
	}
table.cartWide {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
}
	table.cartWide tr {
		width: 800px;
		height: 40px;
	}
	table.cartWide td {
		padding-right: 24px;
		padding-left: 24px;
	}
.minicart {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
}
.minicart tr {
	width: 160px;
	height: 14px;
}
.minicart td {
	padding-right: 6px;
	padding-left: 6px;
}
.closeCart {
	color: #0066FF;
	display: block;
	float: right;
	font-weight: bold;
	margin-top: 30px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	width: 210px;
}
.slider {
	display: block;
	position: relative;
	bottom: 0px;
	width: 160px;
	height: 30px;
	float: left;
	overflow: hidden;	
}
	.slider .scontrol, .dcontrol{
		display: block;
		position: relative;
		top: 0px;
		width: 160px;
		height:30px;
		background-color: #06C;
		color: #FFF;
		text-align: center;
		cursor: pointer;
	}
	